@font-face {
    font-family: 'Poppins Regular';
    src: url('fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins Bold';
    src: url('fonts/Poppins-Bold.ttf') format('truetype');
}


body{
    background: rgb(5, 5, 5);
    /* Removes edge borders */
    margin: 0;
    padding: 0;
    font-family: 'Poppins Regular';
}

/*  
    - Top Right Bottom Left (like a clock) for pixel attributes
    margin = the space around the body
    padding = the space inside the body
*/

/* Nav bar ------------ */
header{
    background: black;
    color: rgb(28, 255, 134);
    padding: 20px;

    /* Creates sticky effect for nav bar */
    position: sticky;
    top: 0;
}


#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar li {
    display: inline-block;
    margin: 0px 20px 0px 0px;
}

#navbar li a{
    color: rgb(28, 255, 134);
    text-align: center;
    text-decoration: none;
}

#navbar li a:hover{
    /*add animation to hover*/
    opacity: 0.7;

} 
/* ------------------------ */



/* Intro ------------ */

#intro {
    height: 100vh;
    background-image: url("images/mountain.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    text-align: center;
}

#intro ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#intro li {
    display: inline-block;
    margin: 0px 20px 0px 20px;
}

#intro li a{
    color: rgb(28, 255, 134);
    text-align: center;
    text-decoration: none;
}

#intro li a:hover{
    /*add animation to hover*/
    opacity: 0.7;

}

#intro h2 {
    font-family: 'Poppins Bold';
    font-size: 70px;
    margin-bottom: 0px;
}

#intro p {
    margin-top: 0px;
    font-size: 17px;
}

.info {
    margin-top: 20vh;
}

/* ------------------------ */


/* Projects ------------ */
#projects {
    text-align: center;
}
/* ------------------------ */

/* Skills ------------ */
#skills {
    text-align: center;
}
/* ------------------------ */

/* Education ------------ */
#education{
    text-align: center;
}
/* ------------------------ */

/* Contact ------------ */
#contact {
    text-align: center;
}
/* ------------------------ */



section{
    padding: 20px;
    color: rgb(28, 255, 134);
}

footer{
    background: black;
    color: white;
    padding: 10px;
}
