@font-face {
    font-family: 'Poppins Regular';
    src: url('fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins Bold';
    src: url('fonts/Poppins-Bold.ttf') format('truetype');
}


body{
    background: rgb(5, 5, 5);
    /* Removes edge borders */
    margin: 0;
    padding: 0;
    font-family: 'Poppins Regular';
}

/*  
    - Top Right Bottom Left (like a clock) for pixel attributes
    margin = the space around the body
    padding = the space inside the body
*/

/* Nav bar ------------ */
header{
    background: black;
    color: rgb(28, 255, 134);
    padding: 20px;

    /* Creates sticky effect for nav bar */
    position: sticky;
    top: 0;
}


#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar li {
    display: inline-block;
    margin: 0px 20px 0px 0px;
    /* Animation smoothing */
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

#navbar li a{
    color: rgb(28, 255, 134);
    text-align: center;
    text-decoration: none;
}

#navbar li:hover{
    /*add animation to hover*/
    transform: translateY(-4px);
} 

#navbar li:active{
  transform: translateY(0);
}
/* ------------------------ */



/* Intro ------------ */

#intro {
    height: 100vh;
    background-image: url("images/mountain.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    text-align: center;
}

#intro ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#intro li {
    display: inline-block;
    margin: 0px 20px 0px 20px;
}

#intro li a{
    color: rgb(28, 255, 134);
    text-align: center;
    text-decoration: none;
}

/* Pulsing effect ----- (Credit: https://codepen.io/asp/pen/MWbxOz) ------*/
@-webkit-keyframes pulseBox {
  0% {-webkit-box-shadow: 0px 0px 10px 0px rgba(28, 255, 134, 0.6);}
  100% {-webkit-box-shadow: 0px 0px 18px 0px rgba(28, 255, 134, 0.9);}
}
@-moz-keyframes pulseBox {
  0% {-moz-box-shadow: 0px 0px 10px 0px rgba(28, 255, 134, 0.6);}
  100% {-moz-box-shadow: 0px 0px 18px 0px rgba(28, 255, 134, 0.9);}
}
@-o-keyframes pulseBox {
  0% {-o-box-shadow: 0px 0px 10px 0px rgba(28, 255, 134, 0.6);}
  100% {-o-box-shadow: 0px 0px 18px 0px rgba(28, 255, 134, 0.9);}
}
@keyframes pulseBox {
  0% {box-shadow: 0px 0px 10px 0px rgba(28, 255, 134, 0.6);}
  100% {box-shadow: 0px 0px 18px 0px rgba(28, 255, 134, 0.9);}
}

.pulseBox {
  -webkit-animation-name: pulseBox;
  -moz-animation-name: pulseBox;
  -o-animation-name: pulseBox;
  animation-name: pulseBox;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
/*-----------*/

/* Hover/Translation effect ----(Credit: https://getcssscan.com/css-buttons-examples) ----*/
.button-27 {
  appearance: none;
  border-radius: 15px;
  border-color: rgb(28, 255, 134);
  border-style: solid;
  border-width: 2px;
  background-color: rgba(28, 255, 134, 0.151);
  padding: 10px 15px 10px 15px;
  box-sizing: border-box;
  color: rgb(28, 255, 134);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  margin: 0;
  min-width: 0;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.button-27:hover {
  box-shadow: rgba(100, 255, 167, 0.25) 0 8px 15px;
  transform: translateY(-4px);
  background-color: rgba(98, 255, 166, 0.445);;
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
  background-color: rgb(100, 255, 167);
}
/* -------------- */

#intro h2 {
    font-family: 'Poppins Bold';
    font-size: 70px;
    margin-bottom: 0px;
}

#intro p {
    margin-top: 0px;
    font-size: 17px;
}

.info {
    margin-top: 20vh;
}

/* ------------------------ */


/* Projects ------------ */
#projects h2{
    text-align: center;
}

.card{
  background-color: #000; /* Black background */
  background-size: 100px;
  border-radius: 20px;
  border: solid;
  border-width: 2px;
  /* For responsive width (better than fixed width with margin/padding) */
  max-width: 60%; 
  /* First param = Top and Bottom, Second param = Right and Left -> left for auto, max-width manages it */
  margin: 50px auto;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  display: flex;
}

.card div{
  /* Take up equal amount of space as figure (img)*/
  flex: 1;
  display: inline-block;
  margin: 20px;
  padding: 20px;
  overflow: hidden;
}

.card div p{
  font-size: 15px;
  margin: 0px;
  padding: 0px;
}

.card div h3{
  margin: 0px;
  padding: 0px;
}

.card div h4 ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card div h4 ul li{
  display: inline-block;
  /* Aligns logos so they're centered with respect to "Tools:" text */
  vertical-align: middle;
  margin: 4px;
}

.logo{
  width: 30px;
  height: 30px;
  transition: all 0.2s ease-in-out;
}

.logo:hover{
  transform: scale(1.67); /* 50/30 = 1.67 */
}

.card div button{
  margin-top: 20px;
  margin-bottom: 20px;
}

.card:hover {
  transform: translateY(-5px); /* Slightly raise the card on hover */
  box-shadow: 0 4px 8px rgba(0, 255, 135, 0.3); /* Green glow effect */
}

.card figure {
  /* Take up equal amount of space as div (description)*/
  flex: 1;
  padding: 0px;
  float: right;
  overflow: hidden;
  margin: 20px;
  display: flex;
  align-items: center;
}

.card figure img{
  border-radius: 20px;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
/* ------------------------ */

/* Skills ------------ */
#skills {
    text-align: center;
}

#skills div{
  background-size: 100px;
  border-radius: 20px;
  border: 20px;
  /* For responsive width (better than fixed width with margin/padding) */
  max-width: 60%; 
  /* First param = Top and Bottom, Second param = Right and Left -> left for auto, max-width manages it */
  margin: 50px auto;
  display: flex;
}

#skills div ul{
  list-style-type: none;
  margin: 40px;
  padding: 0px;
}

#skills div ul li{
  height: auto;
  width: 90px;
  display: inline-block;
  /* Aligns logos so they're centered with respect to "Tools:" text */
  vertical-align: middle;
  margin: 20px;
  transition: all 0.2s ease-in-out;
}

#skills div ul li figure{
  text-align: center;
  margin: 0;
}

#skills div ul li figure img{
  display: block;
  margin: 0 auto;
  height: auto;
  width: 100%;
}

#skills div ul li figure figcaption{
  margin-top: 10px;
}

#skills div ul li:hover{
  transform: scale(1.30); 
}

/* ------------------------ */

/* Education ------------ */
#education{
    text-align: center;
}

#ed-card{
  /* For responsive width (better than fixed width with margin/padding) */
  max-width: 45%; 
  max-height: 10%;
  /* First param = Top and Bottom, Second param = Right and Left -> left for auto, max-width manages it */
  transition: none;
  /* Aligns items vertically and horizontally */
  align-items: center;
}

#ed-card:hover{
  transform: none;
}

#ed-card div h3{
  margin-bottom: 10px;
}

#ed-card div p{
  margin: auto;
  padding: 5px;
}

#ed-card figure{
  float: left;
}
/* ------------------------ */

/* Contact ------------ */
#contact {
  text-align: center;
}

#contact div{
  max-width: 50%; 
  /* First param = Top and Bottom, Second param = Right and Left -> left for auto, max-width manages it */
  margin: 20px auto 50px auto;
}

#contact div form{
  width: 100%;
  display: block;
  margin: auto;
}

.input-field{
  width: 100%;
  padding: 20px;
  margin: 10px 0px;
  box-sizing: border-box;
  font-family: "Poppins Regular";
  background: transparent;
  background-color: rgba(28, 255, 134, 0.151);
  color: rgb(100, 255, 167);
  border-color: rgb(100, 255, 167);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  transition: border-color 0.3s ease;
  transition: background-color 0.4s ease;
}

.input-field:focus{
  outline: none;
  border-color: rgb(94, 94, 94);
}

#message{
  height: 300px;
}

::placeholder{
  color: rgb(100, 255, 167);
}

#contact button{
  margin-top: 20px;
}
/* ------------------------ */

section{
    padding: 20px;
    color: rgb(28, 255, 134);
}